body{
    background-color: rgb(46, 46, 46);
}

#title{
    border-top-left-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 10px 00 0px 10px;
    background-color: rgb(97, 97, 97) ;
}

h1{
    float: left;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin: -4px 0 0 10px;
    animation: letter_spacing 2s;
}

a.header{
    position: relative;
    float: right;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    width: auto;
    height: 20px;
    margin-top: auto;
    margin-right: 12px;
    padding:12px 12px 16px 12px;
    text-decoration:none; 
}

a#sign_up{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(192, 192, 192);
}
a#sign_up:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

a#log_in{
    border-right:rgb(97, 97, 97) 3px solid;
    margin-right: 0;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:  rgb(192, 192, 192);
}
a#log_in:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

button.Rooms{ 
    width: 100%;
    font: bold;
    font-size: 25px;
    border: 0;
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    background-color: honeydew;
    margin-bottom: 10px;
    width: 100%;
}

section{
    float: left;
    width: 100%;
    height: 100%;
}

nav.Room{
    float: left;
    background-color: rgba(121, 121, 121);
    width: 300px;
    height: 100%;
} 

ul{
    list-style: none;
    float: right;
    width: 90%;
    height: 100%;
}

span.Room{
    font-size: 20px;   
    font-weight: 1000;
}

#last_list{
    margin-bottom: 0;
}

#chating{
    width: 100%;
    height: auto;
}

h3{
    background-color: blue;
    color: white;
}

.chat_log{
    width: 80%; 
    height: auto; 
    border: none;

}

#typing{
    width: 100%;
    height: 80px;
    background-color: gray;
}
      
.name{
    width: 100px;
    height: 100%;

}

.message{ width: 70%; }

.chat{
    width: 10%; }

@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}