html{
    overflow: hidden;
    width: auto;
    height: 100%;
}

body{
    width: auto;
    margin: 0px;
    height: 100%;
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 100% 0px 10px;
    background-color: rgba(34, 192, 255, 0.849) ;
}

h1{
    position: absolute;
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin: -4px 0 0 10px;
    animation: letter_spacing 2s;
}



a.header{
    background: none;
    border: none;
    font-style: black;
    font-weight: 900;
    float: right;
    width: auto;
    height: 20px;
    margin-top: 2px;
    margin-right: 30px;
    text-decoration:none; 
}

a#sign_up{
    padding:13px;
    border-radius: 9px;
    background-color: white;
}
a#sign_up:hover{
    transition-duration: 0.3s;
    background-color: rgb(185, 185, 185);
}

a#log_in{
    padding:13px;
    border-radius: 9px;
}
a#log_in:hover{
    transition-duration: 0.3s;
    background-color: rgba(47, 142, 180, 0.678);
}

button#Rooms{ 
    width: 100%;
    font: bold;
    font-size: 25px;
    border: 0;
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    background-color: honeydew;
}


ul{
    list-style: none;
    float: right;
    width: 90%;
    height: 100%;
}


li{
    margin-bottom: 10px;
    width: 100%;
}

#last_list{
    margin-bottom: 0;
}

nav.Room{
    float: left;
    background-color: rgb(123, 218, 255);
    width: 300px;
    height: 100%;
} 

span.Room{
    font-size: 20px;   
    font-weight: 1000;
}

section{
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 249, 255, 0.63);
}

#chating{
    width: 100%;
    height: 84.5%;
}

.chat_log{
    width: 84.1%; 
    height: 84%; 
    border: none;
    position: absolute;
}

#typing{
    width: 100%;
    height: 80px;
    background-color: gray;
}
      
.name{
    width: 100px;
    height: 100%;

}

.message{ width: 70%; }

.chat{
    width: 10%; }

@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}