html{
    overflow: hidden;
}
body{
    background-color: rgb(46, 46, 46);
    margin: 7px;
}

#title{
    border-top-left-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 10px 00 0px 10px;
    background-color: rgb(97, 97, 97);
}

h1{
    float: left;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin: -4px 0 0 10px;
    animation: letter_spacing 2s;
}

a.header{
    position: relative;
    float: right;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    width: auto;
    height: 20px;
    margin-top: auto;
    margin-right: 12px;
    padding:11px 12px 19px 12px;
    text-decoration:none; 
}

a#sign_up{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(192, 192, 192);
}
a#sign_up:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

a#log_in{
    border-right:rgb(97, 97, 97) 3px solid;
    margin-right: 0;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:  rgb(192, 192, 192);
}
a#log_in:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

button.Rooms{ 
    color: #ffffff;
    width: 90%;
    font-size: 25px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(112, 112, 112);
     margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px; 
    outline:none;
    transition: 0.7s;

}

section{
    float: left;
    width: 100%;
    height: 92%;
    position: absolute;
}

nav.Room{
    float: left;
    position: absolute;
    background-color: rgba(97, 97, 97);
    width: 20px;
    height: 92%;
    overflow: hidden;
    transition:0.6s;
    z-index: 2;
}

nav.Room:hover{
    float: left;
    position: absolute;
    background-color: rgb(112, 112, 112);
    width: 300px;
    /* overflow: hidden; */
}

#filter{
    opacity: 0;
    display: none;
    width: 100%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: absolute;
}

nav.Room:hover + #filter {
    display: inline-block;
    animation: shadow 0.4s forwards;
}

button.Rooms:hover{
    transition-duration: 0.2s;
    background-color: rgb(97, 97, 97);
}

ul{
    opacity: 0;
    margin: 0;
    list-style: none;
    float: right;
    width: 100%;
    height: 100%;
    transition:0.4s;
}

ul:hover{
    transition-delay: 0.2s;
    opacity: 1;
}

span.Room{
    margin-left: 15%;
    font-size: 15px;   
    font-weight: 200px;
}

#filter2{
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.3s;
    /* display: inline-block; */
    display: none;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    position: absolute;
}  

#making{
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;  
    margin-left: -150px;
    display: inline-block;
    /* opacity: 0; */
    width: 300px;
    height: 300px;
    background-color: rgb(  120,120,120);
}

#chating{
    width: 100%;
    height: auto;
}

h3{
    background-color: blue;
    color: white;
}

.chat_log{
    width: 80%; 
    height: auto; 
    border: none;

}

#typing{
    width: 100%;
    height: 80px;
    background-color: gray;
}
      
.name{
    width: 100px;
    height: 100%;

}

.message{ width: 70%; }

.chat{
    width: 10%; }

@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}

@keyframes shadow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

