html{
    overflow: hidden;
}
body{
    background-color: rgb(46, 46, 46);
    margin: 7px;
}

#title{
    border-top-left-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 10px 00 0px 10px;
    background-color: rgb(97, 97, 97);
}

h1{
    float: left;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin: -4px 0 0 10px;
    animation: letter_spacing 2s;
}

a.header{
    position: relative;
    float: right;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    width: auto;
    height: 20px;
    margin-top: auto;
    margin-right: 12px;
    padding:11px 12px 19px 12px;
    text-decoration:none; 
}

a#sign_up{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(192, 192, 192);
}
a#sign_up:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

a#log_in{
    border-right:rgb(97, 97, 97) 3px solid;
    margin-right: 0;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color:  rgb(192, 192, 192);
}
a#log_in:hover{
    transition-duration: 0.3s;
    background-color:  rgb(145, 145, 145);
}

button.Rooms{ 
    color: #ffffff;
    width: 90%;
    font-size: 25px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(112, 112, 112);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px; 
    outline:none;
    transition: 0.7s;
}

nav.Room{
    float: left;
    position: absolute;
    background-color: rgba(97, 97, 97);
    width: 20px;
    height: 92%;
    overflow: hidden;
    transition:0.6s;
    z-index: 2;
}

nav.Room:hover{
    float: left;
    position: absolute;
    background-color: rgb(112, 112, 112);
    width: 300px;
    /* overflow: hidden; */
}

#filter{
    opacity: 0;
    display: none;
    width: 100%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: absolute;
}

nav.Room:hover + #filter {
    display: inline-block;
    animation: shadow 0.4s forwards;
}

button.Rooms:hover{
    transition-duration: 0.2s;
    background-color: rgb(97, 97, 97);
}

nav ul{
    opacity: 0;
    margin: 0;
    list-style: none;
    float: right;
    width: 100%;
    height: 100%;
    transition:0.4s;
}

nav ul:hover{
    transition-delay: 0.2s;
    opacity: 1;
}

span.Room{
    margin-left: 15%;
    font-size: 15px;   
    font-weight: 200px;
}

#roomTabBG{
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.3s; 
    display: none;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    position: absolute;
}  

#close{
    width: 30px;
    height: 30px;
    background: rgb(150,150,150);
    outline: none;
    /* border: none; */
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.return{
    width: 30px;
    height: 30px;
    background: rgb(150,150,150);
    outline: none;
    /* border: none; */
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#roomTab{
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;  
    margin-left: -300px;
    width: 600px;
    height: 550px;
    background-color: rgb(120,120,120);  
    overflow-x: hidden;
}

.tabs{
    position: absolute;
    left:100%;
    width: 100%;
    height: 100%;
}

.toButton{
    margin-top: 75%;
    width: 45%;
    height: 70px;
    font-size: 35px;    
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
}

section{ 
    float: left;
    width: 96.7%;
    height: 89%;
    position: absolute;
    left: 47px;
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 8px;
    top: 97px;
}

#chating{
    position: relative;
    width: 100%;
    height: 100%;
}

#chat{
    position: relative;
    bottom: 0px
}

section h3{color: white; display: flex;}  

#chatLog{overflow-y:scroll ;width: 100%; height:80%; background-color: rgb(146, 146, 146); box-sizing: border-box; border: hidden 0 20px; list-style: none; margin: 0; padding: 0;}

.msg {padding: 4px; margin: 2px 0;}

.msg:hover{ background-color: rgb(100,100,100);}

#message{width: 100%; height: 80px; background-color: rgb(184, 184, 184); padding: 0; outline: none; border:none;border-radius: 8px;}



@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}

@keyframes shadow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

