html{
    /* overflow: hidden; */
}

body{
    background-color: rgb(46, 46, 46);
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 0 0px 0px;
    background-color: rgb(97, 97, 97) ;
}
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin-top: -4px;
    text-align: center;
}
#login{
    border: 0;
    border-radius: 4px;
    width: 300px;
    height: 350px;
    margin: 200px auto;
    text-align: center;
    background-color: rgb(190, 190, 190);
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 10px 3px;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px inset;
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 2px white;
    background-color: rgb(238, 238, 238);
}
#signup{
    text-decoration:none;
}
#ah1{
    text-decoration:none;
    color: black;
}

@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}