html{
    overflow: hidden;
    width: auto;
    height: 100%;
}

body{
    width: auto;
    margin: 0px;
    height: 100%;
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 100% 0px 0px;
    background-color: rgba(34, 192, 255, 0.849);
}
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin-top: -4px;
    text-align: center;
}
#login{
    border: 1px solid black;
    width: 300px;
    height: 500px;
    margin: 100px auto;
    text-align: center;
}
.box{
    width: 200px;
    height: 40px;
    margin: 10px;
}
#signup{
    text-decoration:none;
}
#ah1{
    text-decoration:none;
    color: black;
}

@keyframes letter_spacing{
    0%{
        margin-left: 30px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-left: 10px ;
        letter-spacing: 0px;
        opacity: 100%;
    }
}