body{
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}

.logo{
    position: absolute;
    text-align: center;
    top: 40%;  
    bottom: 40%;
    left: 16%;  
}

button.logoLetter{ 
    width: auto;
    height: auto;
    top: 3500px;
    position: relative;
    border: none;
    background: none;
    outline: 0;
    cursor:pointer;
    transition-delay: 1.3s;
    animation:intro 1.7s cubic-bezier(0.0, 0.0, 0.58, 1.0) forwards;
}

img{
    position: relative;
    width: 173.5px;
    height: 180.5px;   
}

div button:nth-child(2) { animation-delay: .1s; }
div button:nth-child(3) { animation-delay: .2s; }
div button:nth-child(4) { animation-delay: .3s; }
div button:nth-child(5) { animation-delay: .4s; }
div button:nth-child(6) { animation-delay: .5s; }
div button:nth-child(7) { animation-delay: .6s; }
div button:nth-child(8) { animation-delay: .7s; }


div.q_block{
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 300px;
    border: 5px outset rgb(165, 165, 165);
    text-align: center;
    border-radius: 15px;
}

#old>button{
    width: 200px;
    height: 100px;
}

#new>button{
    width: 200px;
    height: 70px;
}

#toSignup{
    margin-top: 10px;
}


@keyframes intro {
    0%{
        top: 3500px;
    }
    100%{
        top: 0;
    }
}

@keyframes zoomIn{
    from{
        
    }
    to{
        text-align: center; 
    }
}
