body{
    background-color: rgb(46, 46, 46);
    width: auto;
    height: auto;
}

h1{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:80px;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    text-align: center;
    animation:letter_spacing 2s, intro 1s 2s;
}

div.q_block{
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 300px;
    border: 5px outset rgb(165, 165, 165);
    
    border-radius: 15px;
}

@keyframes letter_spacing{
    0%{
        margin-top: 400px;
        letter-spacing: 10px;
        opacity: 0%;
    }
    100%{
        margin-top: 400px;
        letter-spacing: 0px;
        opacity: 100%;
    }
}

@keyframes intro {
    from{
        margin-top: 400px;
    }
    to{
        margin-top: 80px;
    }
}