body{
    width: auto;
    margin: 0px;
    height: 100%;
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 100% 0px 0px;
    background-color: rgba(34, 192, 255, 0.849);
}
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin-top: -4px;
    text-align: center;
}
#signup{
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 4px;
    width: 300px;
    height: 430px;
    margin: 100px auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 10px 3px;
}
 
.box{
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px inset;
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 2px white;
}
a{
    text-decoration:none;
    color: black;
}
#submit{
    border-radius: 2px;
    
    border: 0px;
    background-color: rgb(0, 183, 255);
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px
}