body{
    background-color: rgb(46, 46, 46);
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 0 0px 0px;
    background-color: rgb(97, 97, 97) ;
}
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin-top: -4px;
    text-align: center;
}
h2{
    position: relative;
    font-size: 30px;
}
#signup{
    border: 0;
    border-radius: 4px;
    width: 350px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -175px;
    text-align: center;
    background-color: rgb(190, 190, 190);
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 10px 3px;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px inset;
    width: 270px;
    height: 60px;
    margin: 10px 10px 10px 10px;
    border: 2px white;
    background-color: rgb(238, 238, 238);
}
#submit{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 2px 1px;
}
#login{
    position: relative;
    top: 15px;
    text-decoration:none;
}