html{
    /* overflow: hidden; */
}

body{
    background-color: rgb(46, 46, 46);
}

#title{
    width: 100%;
    height: 60px;
    padding: 10px 0 0px 0px;
    background-color: rgb(97, 97, 97) ;
}
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    margin-top: -4px;
    text-align: center;
}
#signup{
    border: 0;
    border-radius: 4px;
    width: 300px;
    height: 430px;
    margin: 100px auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 10px 3px;
    background-color: rgb(190, 190, 190);
}
 
.box{
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px inset;
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 2px white;
    background-color: rgb(238, 238, 238);
}
a{
    text-decoration:none;
    color: blue;
}
#submit{
    border-radius: 2px;
    
    border: 0px;
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 2px 1px
}