html, body{
    width: 100%;
    height: 100%;
}
 
body{
    margin: 0;
    background-color: #555;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:15%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 60px;
    text-align: center;
    animation:h1 1.2s;
}

h2{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:5%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    text-align: center;
}

button{
    transition: 0.15s;
}

button.next{
    position: absolute;
    top : 60%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    border: 0px solid rgb(46, 46, 46);
    border-radius: 25px;
    outline: 0;
    cursor:pointer;
    font-size: 25px;
    font-weight: 900;
    color: rgb(46, 46, 46);
}

button.move{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border: 0 ;
    border-radius: 25px;
    outline: 0;
    cursor:pointer;
    font-size: 25px;
    font-weight: 900;
    color: rgb(46, 46, 46);
}

#next{
    right: 0;
    margin-right: 15px;
}

#back{
    left: 0;
    margin-left: 15px;
}

button.signup{
    /* bottom: 10px; */
    width: 200px;
    height: 80px;
    border: 0 red;
    border-radius: 30px;
    outline: 0;
    cursor:pointer;
    font-size: 25px;
    font-weight: 900;
    color: rgb(46, 46, 46);
}

button:hover {
    background-color:rgb(46, 46, 46);
    color: #f4f4f4;
}

button.next:hover {
    border: 3px solid #f4f4f4;
    background-color:rgb(46, 46, 46);
    color: #f4f4f4;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}
  
#section0{
    z-index: 3;
    background-color: rgb(46, 46, 46);
}

#section1{
    z-index: 2;
    background-color: #a3a1a1;
}

.text1{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #E0E3DA;
}

#section2{
    z-index: 1;
    background-color: #D7FFF1;
}

.text2{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #77AF9C;
}

#section3{
    z-index: 0;
    background-color: #8EC0E4;
}

.text3{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #2b90d9;
}

@keyframes h1{
    0%{
        font-size: 10px;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}