html, body{
    width: 100%;
    height: 100%;
}
 
body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:15%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 60px;
    text-align: center;
    animation:h1 1.2s;
}

h2{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:5%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    text-align: center;
    animation:h1 1.2s;
}

div.MouseScroll {

    display: block;
    position: fixed;
    left: 50%;
    bottom: 25px;
    width: 100px;
    height: 100px;
    z-index: 5;
    margin: 0 0 0 -50px;
}

path.MouseScroll--chevron {
    animation: ChevronAnimation 3s ease infinite;
    transform: translateY(3px);
}

button.next{
    margin: auto auto;
    /* bottom: 10px; */
    width: 200px;
    height: 50px;
    border: 0 red;
    border-radius: 25px;
    outline: 0;
    cursor:pointer;
    font-size: 25px;
    font-weight: 900;
    color: rgb(46, 46, 46);
}

button.next:hover{
    
    transition-duration: 0.5s;
    font-size: 30px;
    
}

button.next.onclick{
    
}

section {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}

.section0{
    background-color: rgb(46, 46, 46);

}

.section1{
    background-color: rgb(143, 143, 143);
}

.text1{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
}

.section2{
    background-color: white;
}

.text2{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
}

.section3{
    background-color: teal;
}

.text3{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
}

#up{
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-radius: 25px;
    background-color: rgb(46, 46, 46);
    text-decoration:none;
}


@keyframes ChevronAnimation{
    0% {
        transform: translateY(3px);
        opacity: 1;
    }
    50% {
        transform: translateY(8px);
        opacity: 0;
    }
    60% {
        transform: translateY(3px);
        opacity: 0;
    }
}

@keyframes h1{
    0%{
        font-size: 10px;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

