html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(46, 46, 46);
    margin: 0;
    overflow-x: hidden;
}

h1{
    text-shadow: rgb(156, 156, 156) 1px 0 5px;  
    margin-top:15%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 60px;
    text-align: center;
    animation:h1 2s
}

div.MouseScroll {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 100px;
    height: 100px;
    margin: 0 0 0 -50px;
}

path.MouseScroll--chevron {
    animation: ChevronAnimation 3s ease infinite;
    transform: translateY(3px);
}

section {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    line-height: 30px;
}

.section1{
    background-color: #a3a1a1;
}

.text1{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #E0E3DA;
}

.section2{
    background-color: #D7FFF1;
}

.text2{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #77AF9C;
}

.section3{
    background-color: #8EC0E4;
}

.text3{
    width: 700px;
    font-size: 20px;
    margin: 0 auto;
    color: #2b90d9;
}

#up{
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-radius: 25px;
    background-color: rgb(46, 46, 46);
    text-decoration:none;
}


@keyframes ChevronAnimation{
    0% {
        transform: translateY(3px);
        opacity: 1;
    }
    50% {
        transform: translateY(8px);
        opacity: 0;
    }
    60% {
        transform: translateY(3px);
        opacity: 0;
    }
}

@keyframes h1{
    0%{
        font-size: 10px;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

