<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaters</title>
    <link type="text/css" rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <div id="title">
      <h1 class="CHATERS" >CHATERS</h1>
        <a href="/signup" class="header" id="sign_up">회원가입</a>
        <a href="/login" class="header" id="log_in">로그인</a>
    </div>
    <section>
        <nav class = "Room">
            <ul>
                <span class="Room">방 목록</span><br>
                  <% for(var i = 0; i < roomname.length; i++) { %>
                    <button id="Rooms" onclick="join('<%= roomname[i] %>');" ><%= roomname[i] %></button>
                  <% } %>
            </ul>
        </nav>
        <div id="chating">
            <textarea id="chatLog" class="chat_log" readonly></textarea>
        </div>
        <form id="chat">
            <input id="name" class="name" type="text" readonly>
            <input id="message" class="message" type="text" autocomplete="off">
            <input type="submit" class="chat" value="chat"/>
        </form>
    </section>
    <script src="/socket.io/socket.io.js"></script> <!-- 1 -->
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io(); //1
      function join(roomname){
        console.log(roomname)
      }

      $('#Room button').on('click', function(e) {
        socket.emit('join room', $('#Rooms').text());
        console.log( $('#Rooms').text())
        e.preventDefault();
      });
      $('#chat').on('submit', function(e){ //2
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val('');
        $('#message').focus();
        e.preventDefault();
      });
      socket.on('receive message', function(msg){ //3
        $('#chatLog').append(msg+'\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
      socket.on('change name', function(name){ //4
        $('#name').val(name);
      });


      socket.on('leaveRoom', (num, name) => {
      $('#messages').append($('<li>').text(name + '    leaved '
        + room[num] + ' :('));
      });

      socket.on('joinRoom', (num, name) => {
        $('#messages').append($('<li>').text(name + '    joined '
        + room[num] + ':)'));
      });
    </script>
</body>
</html>